.dart_tool/
build
build/
.idea/
android
ios
.metadata
.packages/
*.iml
*.dex
.flutter-plugins-dependencies
stash.dart
.DS_Store
.atom/
.idea
.packages
.pub/
build/
ios/.generated/
packages
pubspec.lock
.flutter-plugins
.vscode/

**/.dart_tool/
**/build
**/build/
**/.idea/
**/android
**/ios
**/.metadata
**/.packages/
**/*.iml
**/*.dex
**/.flutter-plugins-dependencies
**/stash.dart
**/.DS_Store
**/.atom/
**/.idea
**/.packages
**/.pub/
**/build/
**/ios/.generated/
**/packages
**/pubspec.lock
**/.flutter-plugins
**/.vscode/
